<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>632706070517-2vccd1eaft6pj99cnksuib133m0ntlp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632706070517-2vccd1eaft6pj99cnksuib133m0ntlp1</string>
	<key>API_KEY</key>
	<string>AIzaSyAEWHdDwSaOzjXn3J3POOTFjW7_rzZnoAw</string>
	<key>GCM_SENDER_ID</key>
	<string>632706070517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AirLift</string>
	<key>PROJECT_ID</key>
	<string>rescueapp-d91a0</string>
	<key>STORAGE_BUCKET</key>
	<string>rescueapp-d91a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632706070517:ios:148fe6b20150e23a</string>
	<key>DATABASE_URL</key>
	<string>https://rescueapp-d91a0.firebaseio.com</string>
</dict>
</plist>